html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Fira Sans", serif;
  background-image: linear-gradient(
    90deg,
    hsl(251, 100%, 69%),
    hsl(251, 70%, 62%)
  );
}

.search {
  position: relative;
  height: 5;
}

.search__input {
  background-color: hsl(0, 0%, 100%);
}
